<div class='container'>
  <div class=“row”>
        <div class="mb-3">
              <h2>検索結果</h2>
        </div>
  </div>
</dvi>



<table class="table table-hover table-inverse">
  <!--検索対象モデルがUserの時 -->
  <% if @range == "User" %>
    <tbody>
      　<tr>
      　 <th>名前</th>
      　</tr>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.introduction%></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <!--検索対象モデルがUserではない時(= 検索対象モデルがCreateの時) -->
    <tbody>
        <tr>
         <th>作品</th>
      　 <th>作品名</th>
      　 <th>紹介</th>
      　  </tr>
      <% @creates.each do |create| %>
        <tr>
          <td>
            <%= link_to public_create_path(create) do %>
            <%= image_tag create.get_image(100,100) %>
            <% end %>
          </td>
          <td><%= create.name %></td>
          <td><%= create.introduction %></td>
        </tr>
      <% end %>
    </tbody>

  <% end %>
</table>