<div class="col-5 mx-auto">
          <% if @create.errors.any? %>
              <div id=error_explanation>
                <h3>入力エラーが<%= @create.errors.count %>件あります！</h3>
              <ul>
                <% @create.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
              </ul>
              </div>
          <% end %>
</div>


<div class='container'>
  <div class=“row”>
    <div class='mx-auto col-lg-6'>
      <h2 class="mt-4"><strong>作品情報編集</strong></h2><br>

      <%= form_with model: @create, url: public_create_path , local: true do |f| %>
      <div class="mb-3">
        <%#= image_tag item.customer.get_profile_image %>
        <%= f.label :image, "作品" %>
        <%= f.file_field :image, accept: "image/*", class:"form-control-file" %>
      </div>

      <div class="mb-3">
        <%= f.label :name, "作品名" %>
        <%= f.text_field :name, class:"form-control", placeholder: "作品名" %>
      </div>

      <div class="mb-3">
        <%= f.label :genre, "ジャンル" %>
        <%= f.collection_select :genre_id, Genre.all, :id, :name, :prompt => true, class:"form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :introduction, "作品説明" %>
        <%= f.text_area :introduction, class:"form-control", placeholder: "作品説明" %>
      </div>



      <div class="mb-3">
          <%= f.submit "変更の保存", class:"btn btn-success btn-block" %>
      </div>
     <% end %>
    </div>
  </div>
</div>