    <div class="container">
        <div class="row">
           <div class="col">

           </div>
        </div>

     <%# if create.user == current_user %>

        <div class="row bg-info">
            <div class="col">
              <h4 class="text-center text-white">コメント一覧</h4>
            </div>
        </div><br>
        <div class="row">
            <div class="col">
              <%= render 'public/create_comments/counter', create: @create %>
            </div>
        </div><br>

    </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col"></div>
            <div class="col">投稿者</div>
            <div class="col">コメント</div>
            <div class="col">投稿日</div>
            <div class="col"></div>
          </div>
        </div>
         <% create.create_comments.each do |create_comment| %>
            <div class="container-fluid">
              <div class="row">
                    <div class="col">
                          <%= link_to public_user_path(create_comment.user) do  %>
                          <%= image_tag create_comment.user.get_profile_image(100,100), class:"rounded-circle"  %><br>
                    </div>
                   <div class="col">
                          <%#= link_to public_user_path(create_comment.user) do  %>
                          <%= create_comment.user.name %>
                          <% end %>
                    </div>

                    <div class="col">
                      <%= create_comment.comment %>
                    </div>
                    <div class="col">
                      <%= create_comment.created_at.strftime('%Y/%m/%d') %>
                    </div>

              <!--ログインしているユーザーのみ表示-->
                    <div class="col">
                        <%if create_comment.user == current_user %>
                        <%= link_to "削除", public_create_create_comment_path(create, create_comment), method: :delete, class: "btn btn-danger pull-right", remote: true  %>
                        <% end %>
                    </div>
              </div>
            </div>
         <% end %>
     <%# end %>

