
<div class="main-visual">
  <div class="main-visual-content">
    <p class="main-visual-text">

        </p>
    </div>
</div>

<div class="container">
  <div class="row mt-3 mb-3">
    <h1><strong>Create-Station</strong></h1>
  </div>


  <div class="row">
    <% if user_signed_in? %>
    <% elsif admin_signed_in? %>
    <% else %>
        <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
     <% end %>
  </div>


  <div class="row">
    <% @creates.each do |create| %>
      <div class="col-4">
        <div class="card">
          <%= link_to public_create_path(create), class:"card-body" do %>
            <%= image_tag create.get_image(250,250), class:"card-img-top" %><br>
          <% end %>
          <div class="card-body">
            <strong><%= create.name %></strong><br>
          </div>
        </div>
      </div>
    <% end %>
  </div>


  <div class="row">
    <div class="col-12 d-flex justify-content-center  mt-5 ">
      <%= paginate @creates %>
    </div>
  </div><br>


  <div class="row">
    <div class="col-4 row mt-3 mb-3">
      <p><%#= link_to "全ての作品を見る>", public_creates_path %></p>
    </div>
  </div>