
<div class="container">

  <div class="row">
    <div class="col-12 mt-4 mb-4">
       <h3><strong>いいね一覧</strong> (全 <%= @favorite_creates.count %> 件)</h3><br>
    </div>
  </div>
</div>

     <table class="table">
         <thead>
            <tr>
             <th scope="col"></th>
             <th scope="col">作品<th>
             <th scope="col">作品名</th>
             <th scope="col">紹介</th>
            </tr>
         </thead>
     <% @favorite_creates.each do |favorite|%>
         <tbody>
            <tr>
             <td></td>
             <td>
                <%= link_to public_create_path(favorite) do %>
                 <%= image_tag favorite.get_image(150,150) %>
                <% end %>
             <td>

             <td>
                 <%= link_to public_create_path(favorite) do %>
                 <%= favorite.name %>
                 <% end %>
             </td>
             <td><%= favorite.introduction %></td>
            </tr>
         </tbody>
      <% end %>
     </table>


  <!--<div class="row">-->
  <!-- <%# @favorite_creates.each do |favorite|%>-->
  <!--  <div class="col-4 mb-4">-->
  <!--    <div class="card-group">-->
  <!--      <div class="card">-->

          <%#= link_to "ユーザーの詳細", public_user_path(user), class:"card-img-top" %>
  <!--          <br>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
