<div class="container">

  <div class="row">
    <div class="col-12 mt-4 mb-4">
       <h3><strong>ユーザー一覧</strong> (全 <%= @users.count %> 件)</h3><br>
    </div>
  </div>

  <div class="row">
    <% @users.each do |user| %>
    <div class="col-4 mb-4">
      <div class="card-group">
        <div class="card">
          <%= image_tag user.get_profile_image(100,100)  %>
          <%= link_to public_user_path(user), class:"btn btn-outline-secondary" do %>
            <%= user.name  %><br>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-12 d-flex justify-content-center  mt-5 ">
      <%= paginate @users %>
    </div>
  </div><br>