<!DOCTYPE html>
<html>
  <head>
    <title>CreateStation</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

 <body class="d-flex flex-column vh-100">
<!--ヘッダー-->
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-dark bg-info text-dark">
        <div class="container">
          <a class="navbar-brand p-3" href="/"></a>
      <!--ログインしているユーザーの場合-->
         <% if user_signed_in? %>
          <div class="float-left header-logo btn btn-outline-light mr-4">
            <%= link_to root_path do %>
            <%= image_tag 'create.png', :size =>'30x30' %>
            <div class="text-light">TOP</div>
            <% end %>
          </div>
      <!--ログインしている管理者の場合-->
         <% elsif admin_signed_in? %>
             <div class="float-left header-logo btn btn-outline-light">
            <%= link_to admin_creates_path do %>
            <%= image_tag 'create.png', :size =>'30x30' %>
            <div class="text-light">TOP</div>
            <% end %>
          </div>
          <!--ログインしていないユーザーの場合-->
         <% else %>
          <div class="float-left header-logo btn btn-outline-light">
            <%= link_to root_path do %>
            <%= image_tag 'create.png', :size =>'30x30' %>
            <div class="text-light">TOP</div>
            <% end %>
          </div>
         <% end %>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
<!--ログインしているユーザー-->
            <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to public_user_path(current_user), class: "btn btn-outline-light mr-4" do %>
              <i class="fas fa-user-cog"></i> マイページ
              <% end %>
            </li>
        <% if user_signed_in? && !current_user.is_guest %>
            <li class="nav-item">
              <%= link_to new_public_create_path, class: "btn btn-outline-light mr-4" do %>
              <i class="fas fa-external-link-alt"></i> 作品投稿
              <% end %>
            </li>
        <% end %>
            <li class="nav-item">
              <%= link_to public_creates_path, class: "btn btn-outline-light mr-4" do %>
              <i class="fas fa-book-open"></i> 作品一覧
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-outline-light mr-4" do %>
              <i class="fas fa-sign-out-alt"></i>ログアウト
              <% end %>
            </li>

            <!--検索機能-->
            <div class = "serach_form">
              <%= render 'public/searches/serach' %>
            </div>

<!--管理者側-->
          <% elsif admin_signed_in? %>

           <li>
             <%= link_to admin_creates_path, class: "btn btn-outline-light mr-3" do %>
             <i class="fas fa-book-open"></i> 作品一覧
             <% end %>
           </li>

           <li>
             <%= link_to admin_users_path, class: "btn btn-outline-light mr-3" do %>
             <i class="fas fa-users"></i> 会員一覧
             <% end %>
           </li>
           <li>
             <%= link_to "ジャンル一覧", admin_genres_path, class: "btn btn-outline-light mr-3" %>
           </li>

           <li>
             <%= link_to destroy_admin_session_path, method: :delete, class: "btn btn-outline-light mr-2" do %>
             <i class="fas fa-sign-out-alt"></i> ログアウト
             <% end %>
           </li>
            <!--検索機能-->
            <div class = "serach_form">
              <%= render 'admin/searches/serach' %>
            </div>
  <!--ログインしていないユーザー-->
            <% else %>
              <li class="nav-item">
              <%= link_to about_path, class: "btn btn-outline-light mr-4" do %>
              <i class="fas fa-link"></i> About
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to public_creates_path, class: "btn btn-outline-light mr-4" do %>
              <i class="fas fa-book-open"></i> 作品一覧
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to new_user_registration_path, class: "btn btn-outline-light mr-4" do %>
              <i class="fas fa-user-plus"></i> 新規登録
            <% end %>
            </li>


            <li class="nav-item">
              <%= link_to new_user_session_path, class: "btn btn-outline-light mr-4" do %>
             <i class="fas fa-sign-in-alt"></i> ログイン
             <% end %>
            </li>

            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="mb-auto">
    <% flash.each do |message_type, message| %>
    <%= content_tag :div, message, class: message_type %>
    <% end %>
    <%= yield %>
    </main>
<!--フッター-->
    <footer class="bg-info text-dark pt-5 pb-4">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-4">
          <div class="col-md-8">
            <p class="text-center"> © Create-Station 2022</p>
            <ul class="p-0 list-unstyled">
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
